[mysqld]
#最大连接数
max_connections=512
default-time-zone = '+8:00'
default-authentication-plugin=mysql_native_password

#主从设置
#如果需要增加Slave库则，此id往后顺延；
server-id = 2
log-bin=mysql-bin
#不需要备份的数据库
replicate-ignore-db=mysql
#需要备份的数据库
replicate-do-db=ultrax
replicate-do-db=ultrax_forum_post
replicate-do-db=ultrax_member
replicate-do-db=ultrax_ucenter
#log-slave-update
#自动跳过的错误代码，以防复制出错被中断
slave-skip-errors = all
slave-net-timeout=60

