[mysqld]
#最大连接数
max_connections=512
default-time-zone = '+8:00'

default-authentication-plugin=mysql_native_password


#主从设置
#数据库ID号， 为1时表示为Master,其中master_id必须为1到232–1之间的一个正整数值; 
server-id = 1
#启用二进制日志；
log-bin=mysql-bin
#需要同步的二进制数据库名；
binlog-do-db=ultrax
binlog-do-db=ultrax_forum_post
binlog-do-db=ultrax_member
binlog-do-db=ultrax_ucenter
#不同步的二进制数据库名,如果不设置可以将其注释掉;
binlog-ignore-db=mysql
#设定生成的log文件名；
#log-bin="var/www/logs/msyql1"
#把更新的记录写到二进制文件中；
log-slave-updates
#跳过错误，继续执行复制；
#slave-skip-errors
#只保留7天的二进制日志，以防磁盘被日志占满
expire-logs-days = 7